

.slideshow {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 75em;
  height: 600px;
  display: flex;
  flex-flow: row;
  overflow:hidden;
  display: flex;
  position: relative;

}

.slides {
  height: 100%;
  width: inherit;
  $width: width;
  transition: .4s transform cubic-bezier(0.42, 0, 0.58, 1);
  transform: translate3d($width, 0px, 0px);
  display: flex;
}

.slide {
  height: 100%;
  width: 100%;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideshowNav,
.menuNav {
  position: absolute;
  top:0;
  left: 0;
  height: 200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s opacity;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.slideshowBtn,
.menuNavBtn {
  height: 80px;
  width: 40px;
  margin: 20px;
  cursor: pointer;
  opacity: .8;
  color: $whiteSmoke;
  border: none;
  background: $richBlack;
}

.mainIndexContent {
  background: white;
  width: 100%;
  height: 600px;
  display: flex;
}

.mainInformation {
  flex: 1;
}

.sideInformation {
  min-width: 300px;
  padding: 10px;
  box-sizing: border-box;
}

.hours {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  .infoHeader {
    padding: 0;
    margin: 0;
  }
}

.mainMessage {
  font-size: 25px;
  margin: 20px;
  text-shadow: 1px 1px rgba(0,0,0,.3);
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: lighten($richBlack, 80%);
  @extend .headerFont;
}

.menuCards {
  display: flex;
  justify-content: center;
}

.menuCard {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 1px solid black;
}