$minimizedView: 1080px;

.sideContent {
    height: 100%;
    min-width: 320px;
    box-shadow: 2px 0px 3px rgba(0,0,0,.4);
    z-index: 2;
    position: relative;
    text-align: center;
    @media(max-width: $minimizedView) {
        box-shadow: 2px 2px 3px rgba(0,0,0,.4);
        flex: 1;
        padding-right: 0;
    }
}

.contentBody {
    display: flex;
    justify-content: space-between;
    background: lighten($richBlack, 20%);
    width: 100%;
    @media(max-width: $minimizedView) {
        flex-flow: column wrap;
    }
}

.mainContent {
    height: auto;
    flex: 1;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    border: 1px solid lighten($richBlack, 15%);
    @media(max-width: $minimizedView) {
        border: none;
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    @media(max-width: 790px) {
        height: auto;
        flex-flow: column wrap;
    }
    img {
        height: 1000px;
        margin: 0 auto;
        @media(max-width: 790px) {
            display: none;
        }
    }
}

.smallText {
    color: black;
}

.header,
.textMenuHeader {
    width: 100%;
    height: 40px;
    line-height: 40px;
    @extend .headerFont;
    font-size: 25px;
    color: $whiteSmoke;
    background: lighten($richBlack, 25%);
    text-align: center;
    .smallText {
        color:inherit;
    }
}

.textMenu {
    height: auto;
    margin: 0 10px 10px 10px; 
    width: 100%;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    @media(min-width: 790px) {
        display: none;
    }
}

.textMenuPage {
    display: none;
}

.textMenuSubHeader {
    font-size: 20px;
    background: none;
    text-align: left;
    font-weight: 100;
    color: $richBlack;
    @extend .headerFont;
    font-weight: 100;
    margin: 5px 0;
}

.textMenuList,
.textMenuTable {
    border: 1px solid $richBlack;
    padding: 5px;
    box-sizing: border-box;
    @extend .bodyFont;
}

.textMenuTable {
    width: 100%;
    td, th {
        padding: 5px;
        box-sizing: border-box;
    }
}
.mainTableRow {
    width: 70%;
}

.sideNav {
    .menuList {
        text-align: left;
        text-indent: 20px;
        font-size: 17px;
        @media(max-width: $minimizedView) {
            text-align: center;
        }
    }
    .textLink {
        margin: 20px 0px;
    }
    .smallText {
        opacity: .9;
        text-decoration: none;
    }
}
.menuListItemName {
    a {
        color: lighten($richBlack, 75%);
        text-decoration: underline;
        cursor: pointer;
    }
}

.downloadBtn,
.menuTypeBtn {
    height: 40px;
    width: 200px;
    margin-top: 40px;
    cursor: pointer;
    background: $whiteSmoke;
    font-weight: bold;
    @media(max-width: $minimizedView) {
       height: 25px;
       width: 200px;
       font-size: 14px;
       margin: 10px 0 20px 0;
    }
}

.price:before {
    content: " - ";
}

.key {
    font-weight: bold;
}
.key:after {
    content: ". ";
}

.description {
    font-style: italic;
    
    font-size: 14px;
    width: auto;
}

.note {
    @extend .bodyFont;
    line-height: 13px;
    font-size: 13px;
    color: $whiteSmoke;
}

.mobileScrollPlaceholder {
    display: none;
    @media(max-width: 790px) {
        display: block;
    }
}

.menuNav {
     @media(max-width: 790px) {
        display: block;
        height: 50px;
        min-width: 100%;
        position: relative;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
}

.menuNavBtn {
    @media(max-width: 790px) {
        display: block;
        flex: 1;
        height: 50px;
        margin:0 10px;
        &:first-child:after {
        content: "Previous Page";
        }
        &:last-child:before {
            content: "Next Page ";
        }
    }
}

.menuTypeBtn {
    &:after {
        content: "View Text Menu";
    }
    @media(max-width: 790px) {
        display: none;
    }
}

.menuTypeText {
    &:after {
        content: "View PDF Menu"
    }
}

.phoneLink {
    color: $whiteSmoke;
}